<!-- Adicionando padding-top igual à altura do header -->
  <header class="w-full h-16 bg-transparent text-gray-300 flex justify-between items-center px-5 fixed top-0 left-0 z-20">
    <div class="flex items-center">
      <img src="assets/logo.png" alt="Logo" class="h-14 w-auto rounded-full">
    </div>

    <div class="flex items-center">
      <div class="w-9 h-9 bg-white rounded-full flex items-center justify-center ml-5">
        <i class="pi pi-user text-gray-800 text-lg"></i>
      </div>
      <span class="text-lg font-semibold ml-2">Username</span>
    </div>
  </header>

